.App {
  text-align: center;
}

.workingSpaces {
	margin: 0 10rem;
}

.navLinks {
	text-decoration: none;
	color:  grey;
	margin: .4rem;
}
.navLinks:hover {
	text-decoration: none;
	color:#c0c0c2;
}

